<div class="container mt-4 mb-4">
  <h2 class="mb-4">Order History</h2>

  <div *ngIf="orders.length === 0" class="text-center p-5 auth-card mx-auto">
    <h3>No orders found.</h3>
    <button class="btn btn-primary mt-3" routerLink="/">Order some fresh Pizza!</button>
  </div>

  <div class="order-card p-3 mb-3" *ngFor="let order of orders">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h4>Order #{{order.orderId}} <span class="badge">{{order.orderStatus}}</span></h4>
        <p class="text-secondary mb-1">Placed on: {{ order.orderDate | date:'medium' }}</p>
        <h5 class="text-success mt-2">Total: ${{ order.totalAmount | number:'1.2-2' }}</h5>
      </div>
      <div>
        <button class="btn btn-primary" (click)="quickReorder(order)">Quick Reorder</button>
      </div>
    </div>
  </div>
</div>
